body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
}

input {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

img {
  width: 100px;
  height: 100px;
}
